@charset "UTF-8";
@font-face {
  font-family: 'LibreBarcode';
  src: url("../fonts/LibreBarcode.ttf");
}

@font-face {
  font-family: 'DellaRespira';
  src: url("../fonts/DellaRespira.ttf");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'LibreBarcode', sans-serif;
  background-color: #110f0f;
  overflow-x: hidden;
}

.menu {
  max-width: 1100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  height: 80px;
}

.menu a {
  text-decoration: none;
  font-size: 45px;
  color: #e0dbdb;
}

.menu__link a {
  font-family: 'DellaRespira', Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.menu__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__logo a {
  color: #ff3c2e;
}

.menu__logo a:hover::after, .menu__logo a:hover::before {
  opacity: .9;
}

.menu__logo a::after {
  -webkit-transition: 1s ease;
  transition: 1s ease;
  opacity: 0;
  position: relative;
  top: 17px;
  left: -28px;
  font-family: 'DellaRespira', Arial, Helvetica, sans-serif;
  content: 'yrokov';
  font-size: 14px;
}

.menu__logo a::before {
  -webkit-transition: 1s ease;
  transition: 1s ease;
  opacity: 0;
  position: relative;
  top: 17px;
  left: 50px;
  font-family: 'DellaRespira', Arial, Helvetica, sans-serif;
  content: 'oman';
  font-size: 14px;
}

.container {
  margin: 50px 0 0 40px;
}

.container h1 {
  font-size: 45px;
}

.container__item {
  position: relative;
  width: 540px;
  height: 320px;
  margin: 50px 360px 20px 80px;
}

.container__item a {
  color: #5decaa;
  font-size: 37px;
}

.container__item a:hover {
  color: #3c996e;
}

.container__item a::before {
  position: relative;
  content: '↓';
  top: -50px;
  left: 18px;
  -webkit-animation: arrowAni 4s infinite;
          animation: arrowAni 4s infinite;
}

.container__item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container__item ul li {
  font-family: 'DellaRespira', Arial, Helvetica, sans-serif;
  list-style: none;
  text-decoration: none;
  color: #fff;
  position: relative;
  left: 160px;
  top: 300px;
  padding-right: 15px;
}

.container__item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__item-header h1 {
  color: #fff;
}

.container__item-header a {
  padding-top: 5px;
  -webkit-transition: .7s;
  transition: .7s;
  padding-left: 20px;
}

.container__item-header a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.container__item-header img {
  width: 35px;
}

.container__item-1 {
  background-image: url("../images/site1.png");
  background-size: cover;
  -webkit-animation: animateProjects 25s infinite;
          animation: animateProjects 25s infinite;
}

.container__item-2 {
  background-image: url("../images/site2.png");
  background-size: cover;
  -webkit-animation: animateProjects 25s infinite;
          animation: animateProjects 25s infinite;
}

.container__item-3 {
  background-image: url("../images/site5.png");
  background-size: cover;
  -webkit-animation: animateProjects 10s infinite;
          animation: animateProjects 10s infinite;
}

.container__item-4 {
  background-image: url("../images/site4.png");
  background-size: cover;
  -webkit-animation: animateProjects 10s infinite;
          animation: animateProjects 10s infinite;
}

.container__item-5 {
  background-image: url("../images/site4.png");
  background-size: cover;
  -webkit-animation: animateProjects 10s infinite;
          animation: animateProjects 10s infinite;
}
.container__item-6 {
  background-image: url("../images/sitegolden.png");
  background-size: cover;
  -webkit-animation: animateProjects 25s infinite;
          animation: animateProjects 25s infinite;
}
.container__item-7 {
  background-image: url("../images/site-coffee.png");
  background-size: cover;
  -webkit-animation: animateProjects 25s infinite;
          animation: animateProjects 25s infinite;
}

@-webkit-keyframes arrowAni {
  0% {
    top: -60px;
  }
  50% {
    top: -35px;
  }
  100% {
    top: -60px;
  }
}

@keyframes arrowAni {
  0% {
    top: -60px;
  }
  50% {
    top: -35px;
  }
  100% {
    top: -60px;
  }
}

@-webkit-keyframes animateProjects {
  0% {
    background-position-y: 0%;
  }
  50% {
    background-position-y: 100%;
  }
  100% {
    background-position-y: 0%;
  }
}

@keyframes animateProjects {
  0% {
    background-position-y: 0%;
  }
  50% {
    background-position-y: 100%;
  }
  100% {
    background-position-y: 0%;
  }
}

.container__item-title {
  top: 336px;
  position: relative;
  left: -41px;
}

.footer {
  text-align: center;
  color: #e0dbdb;
  margin-top: 450px;
  font-family: 'DellaRespira', Arial, Helvetica, sans-serif;
}

.horizontal-scroll {
  top: 40px !important;
}

@media screen and (max-width: 1024px) {
  body {
    height: auto;
  }
  .horizontal-scroll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .container {
    margin: 30px 0 0 0;
  }
  .container__item {
    width: 90%;
    margin: 30px 20px 40px 20px;
  }
  .container__item ul li {
    left: 0;
    font-size: 10px;
  }
  .container__item-header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu__link {
    padding-right: 40px;
  }
  .container__item-title {
    top: 298px;
    left: -18px;
  }
  .footer {
    margin-top: 2080px;
  }
}
/*# sourceMappingURL=style.css.map */
