@import fonts.sass

*
    padding: 0
    margin: 0
    box-sizing: border-box
body
    font-family: 'LibreBarcode', sans-serif
    background-color: #110f0f
    overflow-x: hidden

.menu
    max-width: 1100px
    align-items: center
    display: flex
    justify-content: space-between
    margin: 0 auto
    height: 80px
    a
        text-decoration: none
        font-size: 45px
        color: #e0dbdb
.menu__link a
    font-family: 'DellaRespira', Arial, Helvetica, sans-serif
    font-size: 20px
            

.menu__logo
    display: flex
    a
        color: #ff3c2e
        &:hover::after, &:hover::before
            opacity: .9
        &::after
            transition: 1s ease
            opacity: 0
            position: relative
            top: 17px
            left: -28px
            font-family: 'DellaRespira', Arial, Helvetica, sans-serif
            content: 'yrokov'
            font-size: 14px
        &::before
            transition: 1s ease
            opacity: 0
            position: relative
            top: 17px
            left: 50px
            font-family: 'DellaRespira', Arial, Helvetica, sans-serif
            content: 'oman'
            font-size: 14px
.container
    margin: 50px 0 0 40px
    h1
        font-size: 45px


.container__item 
    position: relative
    width: 540px
    height: 320px
    margin: 50px 360px 20px 80px
    a
        color: #5decaa
        font-size: 37px
        &:hover
            color: #3c996e
        &::before
            position: relative
            content: '↓'
            top: -50px
            left: 18px
            animation: arrowAni 4s infinite
    ul 
        display: flex
        li
            font-family: 'DellaRespira', Arial, Helvetica, sans-serif
            list-style: none
            text-decoration: none
            color: #fff
            position: relative
            left: 160px
            top: 300px
            padding-right: 15px
.container__item-header
    display: flex
    align-items: center
    h1
        color: #fff
    a
        padding-top: 5px
        transition: .7s
        padding-left: 20px
        &:hover
            transform: scale(1.2)
    img
        width: 35px
        

.container__item-1
    background-image: url('../images/site1.png')
    background-size: cover
    animation: animateProjects 25s infinite
.container__item-2
    background-image: url('../images/site2.png')
    background-size: cover
    animation: animateProjects 25s infinite
.container__item-3
    background-image: url('../images/site3.png')
    background-size: cover
    animation: animateProjects 10s infinite
.container__item-4
    background-image: url('../images/site4.png')
    background-size: cover
    animation: animateProjects 10s infinite

@keyframes arrowAni
    0%
        top: -60px
    50%
        top: -35px
    100%
        top: -60px

@keyframes animateProjects
    0%
        background-position-y: 0%
    50%
        background-position-y: 100%
    100%
        background-position-y: 0%
        
.container__item-title
    top: 336px
    position: relative
    left: -41px

.footer
    text-align: center
    color: #e0dbdb
    margin-top: 450px
    font-family: 'DellaRespira', Arial, Helvetica, sans-serif

.horizontal-scroll
    top: 40px !important


@media screen and ( max-width: 1024px )
    body
        height: auto
    .horizontal-scroll
        display: flex
        flex-direction: column
        align-items: center
        width: 100%
    .container
        margin: 30px 0 0 0
    .container__item
        width: 90%
        margin: 30px 20px 40px 20px
        ul li
            left: 0
            font-size: 10px
    .container__item-header
        justify-content: center
    .menu__link
        padding-right: 40px
    .container__item-title
        top: 298px
        left: -18px
    .footer
        margin-top: 2080px

