<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title</title>
    <link rel="stylesheet" href="css/style.min.css">

    <link
    rel="stylesheet"
    href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
    />

    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
</head>
<body>
    <header class="header">
    </header>
    
    <main>
        <!--
        {%- comment -%}
            {% assign title = section.settings.title %}
            {% assign descr = section.settings.description %}
            {% assign img   = section.settings.img %}

            {% assign text_color    = section.settings.text_color %}
            {% assign img_gradient  = section.settings.img_grad %}

            <section class="temper-about">
                <div class="container">
                    <div class="temper-about__photo">
                        <img src="{{ img | img_url: 'master' }}" alt="img.alt">
                    </div>
                    <div class="temper-about__content">
                        <h2 class="temper-about__title">{{ title }}</h2>
                        <div class="temper-about__description">
                            {{ descr }}
                        </div>
                    </div>
                </div>
            </section>

            {% schema %}
            {
                "name": "Temper about section",
                "settings": [
                    {
                        "type": "header",
                        "content": "Section content"
                    },
                    {
                        "type": "image_picker",
                        "id": "img",
                        "label": "Section image"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Section title"
                    },
                    {
                        "type": "richtext",
                        "id": "description",
                        "label": "Section description"
                    }
                ]
            }
            {% endschema %}
        {%- endcomment -%}-->

        
        <section class="temper-about">
            <div class="container">
                <div class="temper-about__photo">
                    <img src="images/image 13.png" alt="">
                </div>
                <div class="temper-about__content">
                    <h2 class="temper-about__title">Lorem ipsum dolor</h2>
                    <div class="temper-about__description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At in tellus integer feugiat scelerisque varius. Maecenas volutpat blandit aliquam etiam erat velit. Ornare massa eget egestas purus viverra accumsan. Iaculis urna id volutpat lacus laoreet. A diam sollicitudin tempor id.</p>
                        <p>Augue ut lectus arcu bibendum. Mauris sit amet massa vitae tortor condimentum lacinia quis. Mi eget mauris pharetra et ultrices neque ornare aenean. Ultricies leo integer malesuada nunc vel. Orci porta non pulvinar neque. Sociis natoque penatibus et magnis dis parturient. At erat pellentesque adipiscing commodo elit at imperdiet dui accumsan.</p>
                        <p>Dolor sit amet consectetur adipiscing elit pellentesque. Gravida cum sociis natoque penatibus et. Nulla at volutpat diam ut venenatis. Euismod quis viverra nibh cras pulvinar mattis nunc sed blandit. Tristique nulla aliquet enim tortor.</p>
                    </div>
                </div>
            </div>
        </section>



        <section class="temper-part">
            <div class="container">
                <div class="temper-part__content">
                    <h2 class="temper-part__title">How to participate</h2>
                    <div class="temper-part__tabs">
                        <div class="temper-part__nav">
                            <span class="temper-part__nav--first active">One</span>
                            <svg width="8" height="38" viewBox="0 0 8 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.64645 37.3536C3.84171 37.5488 4.15829 37.5488 4.35356 37.3536L7.53554 34.1716C7.7308 33.9763 7.7308 33.6597 7.53554 33.4645C7.34027 33.2692 7.02369 33.2692 6.82843 33.4645L4 36.2929L1.17157 33.4645C0.976312 33.2692 0.65973 33.2692 0.464468 33.4645C0.269205 33.6597 0.269205 33.9763 0.464468 34.1716L3.64645 37.3536ZM3.5 2.18557e-08L3.5 37L4.5 37L4.5 -2.18557e-08L3.5 2.18557e-08Z" fill="#B5B5B5"/>
                            </svg>                                
                            <span class="temper-part__nav--second">Two</span>
                            <svg width="8" height="38" viewBox="0 0 8 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.64645 37.3536C3.84171 37.5488 4.15829 37.5488 4.35356 37.3536L7.53554 34.1716C7.7308 33.9763 7.7308 33.6597 7.53554 33.4645C7.34027 33.2692 7.02369 33.2692 6.82843 33.4645L4 36.2929L1.17157 33.4645C0.976312 33.2692 0.65973 33.2692 0.464468 33.4645C0.269205 33.6597 0.269205 33.9763 0.464468 34.1716L3.64645 37.3536ZM3.5 2.18557e-08L3.5 37L4.5 37L4.5 -2.18557e-08L3.5 2.18557e-08Z" fill="#B5B5B5"/>
                            </svg>   
                            <span class="temper-part__nav--third">Three</span>
                        </div>
                        <div class="temper-part__labels">
                            <p class="temper-part__label">
                                <span class="temper-part__label--first active">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. 
                                </span>
                            </p>
                            <p class="temper-part__label">
                                <span class="temper-part__label--second ">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                                </span>                            
                            </p>
                            <p class="temper-part__label">
                                <span class="temper-part__label--third">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. 
                                </span>                            
                            </p>
                        </div>
                    </div>
                </div>
                <div class="temper-part__photo">
                    <div class="temper-part__photo-sel temper-part__photo--first">
                        <img class="" src="images/Mask Group.png" alt="">
                    </div>
                    <div class="temper-part__photo-sel temper-part__photo--second">
                        <img class="" src="images/Mask Group (1).png" alt="">
                    </div>
                    <div class="temper-part__photo-sel temper-part__photo--third">
                        <img class="" src="images/Mask Group (2).png" alt="">
                    </div>
                    
                </div>
            </div>
        </section>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script>

            const temperPart = document.querySelector('.temper-part');
            
            const windowHeight = $(window).height() * (-1) + 120;
            const windowHeightIpad = $(window).height();

            if (windowHeightIpad > 920) {
                $('.temper-part').css('min-height', 'unset');
                $('.temper-part .container').css('height', 'auto');
            /*     $('.temper-part .container').css('padding', '40px'); */
            }

            function scrollClassFilter(index) {
                $('.temper-part__label span').removeClass('active');
                $('.temper-part__nav span').removeClass('active');
                $('.temper-part__photo-sel').removeClass('active');

                $('.temper-part__nav--' + index ).addClass('active');
                $('.temper-part__label--' + index ).addClass('active');
                $('.temper-part__photo--' + index ).addClass('active');
            }

            document.addEventListener('scroll', () => {

                let offsets = temperPart.getBoundingClientRect();
                let topA = offsets.top;

                if (windowHeightIpad > 920) {
                    $('.temper-part').css('min-height', 'unset');
                    $('.temper-part .container').css('height', 'auto');
                    /* $('.temper-part .container').css('padding', '40px'); */
                    console.log(topA, windowHeight);

                    if (topA > 250) {
                        scrollClassFilter('first');
                    }
                    else if (topA < 250 && topA > 50 ) {
                        scrollClassFilter('second');
                    }
                    else if (topA < 50) {
                        scrollClassFilter('third');
                    }
                } 
                else {
                    if (topA > windowHeight) {
                        scrollClassFilter('first');
                    }
                    else if ( topA < windowHeight && topA > windowHeight * 2 ) {
                        scrollClassFilter('second');
                    } 
                    else if (topA < windowHeight * 2 && topA > windowHeight * 3) {
                        scrollClassFilter('third');
                    }
                    console.log(topA, windowHeight);

                    
                }

                
            
            })

            

            
                

        

        </script>















        
        <!--
        {%- comment -%}
            {% assign title = section.settings.title %}
            {% assign descr = section.settings.description %}

            {% assign bg_img_dsk   = section.settings.bg_img_dsk %}
            {% assign bg_img_mob   = section.settings.bg_img_mob %}

            {% assign btn_text    = section.settings.btn_text %}
            {% assign btn_url     = section.settings.btn_url %}

            <style>

                .temper-banner {
                    background: url({{ bg_img_mob | img_url: 'master' }}) no-repeat;
                }

                @media (min-width: 740px) {
                    .temper-banner {
                        background: url({{ bg_img_dsk | img_url: 'master' }}) no-repeat;
                    }
                }

            </style>

            <section class="temper-banner">
                <div class="temper-banner__content">
                    <h2 class="temper-banner__title">{{ title }}</h2>
                    <p class="temper-banner__descr">{{ descr }}</p>
                    <a href="{{ btn_url }}" class="temper-banner__btn btn">{{ btn_text }}</a>
                </div>
            </section>

            {% schema %}
            {
                "name": "Temper banner section",
                "settings": [
                    {
                        "type": "header",
                        "content": "Section settings"
                    },
                    {
                        "type": "image_picker",
                        "id": "bg_img_dsk",
                        "label": "Desktop background image"
                    },
                    {
                        "type": "image_picker",
                        "id": "bg_img_mob",
                        "label": "Mobile background image"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Section title"
                    },
                    {
                        "type": "textarea",
                        "id": "description",
                        "label": "Section description"
                    },
                    {
                        "type": "text",
                        "id": "btn_text",
                        "label": "Button text"
                    },
                    {
                        "type": "url",
                        "id": "btn_url",
                        "label": "Button link"
                    }
                ]
            }
            {% endschema %}
        {%- endcomment -%}-->
        <section class="temper-banner">
            <div class="temper-banner__content">
                    <h2 class="temper-banner__title">Skip a Meal with Temper to Feed America!</h2>
                    <p class="temper-banner__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                    <a href="#" class="temper-banner__btn btn-new">Lorem ipsum dolor</a>
            </div>
        </section>

        <!--{%- comment -%}
            
            {% assign slides = section.blocks %}

            <section class="temper-feat">
            <div class="container">
                <div class="swiper-container temper-feat__slider">
                    <div class="swiper-wrapper">
                        {% for slide in slides %}
                            {% assign svg = slide.settings.svg %}
                            {% assign title = slide.settins.title %}
                            {% assign descr = slide.settins.descr %}

                            <div class="swiper-slide temper-feat__slide">
                                <div class="temper-feat__slide-ico">
                                    {{ svg }}
                                </div>
                                <h4 class="temper-feat__slide-title">{{ title }}</h4>
                                <p class="temper-feat__slide-descr">{{ descr }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>                
            </div>
        </section>
        
        {% schema %}
        {
            "name": "Temper slider",
            "blocks": [{
                "type": "block",
                "name": "slide",
                "settings": [
                    {
                        "type": "textarea",
                        "id": "svg",
                        "label": "Svg ico"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Slide title"
                    },
                    {
                        "type": "textarea",
                        "id": "descr",
                        "label": "Sldie text"
                    }
                ]
            }]
        }
        {% endschema %}

        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const customInstagramSlider = new Swiper(".temper-feat__slider", {
                    breakpoints: {
                        320: {
                            slidesPerView: 'auto',
                            spaceBetween: 34,
                            loop: false,
                            freeMode: true
                        },
                        740: {
                            slidesPerView: 'auto',
                            spaceBetween: 50,
                            loop: true,
                            freeMode: true
                        },
                        1110: {
                            slidesPerView: 'auto',
                            spaceBetween: 122,
                            loop: true,
                            freeMode: true
                        }
                    }
                });
            });
        
        </script>

        {%- endcomment -%}-->

        
        <section class="temper-feat">
            <div class="container">
                <div class="swiper-container temper-feat__slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide temper-feat__slide">
                            <div class="temper-feat__slide-ico">
                                <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M24.2224 13.2309C24.0363 13.0822 23.801 13.0089 23.5633 13.0255H19.9682L23.3493 9.25062L23.6661 8.89967L23.8287 8.69423C23.8852 8.61484 23.9312 8.52849 23.9656 8.43744C24.0045 8.33932 24.0247 8.23479 24.0256 8.12929C24.0494 7.87967 23.9257 7.63892 23.7089 7.51299C23.4276 7.38395 23.1191 7.3251 22.8101 7.34179H18.6072C18.383 7.32649 18.1609 7.39347 17.9824 7.53011C17.8349 7.65561 17.7529 7.84158 17.7598 8.03513C17.7598 8.32616 17.8569 8.50303 18.0509 8.56584C18.3291 8.64491 18.6178 8.67957 18.9068 8.66855H21.646C21.5318 8.8283 21.3835 9.01661 21.2008 9.2335L20.499 10.021L19.5488 11.0482L18.4446 12.2722C18.0623 12.7002 17.8112 12.9856 17.6914 13.1282C17.4196 13.4583 17.4534 13.9433 17.7684 14.2324C17.9942 14.4025 18.2741 14.4846 18.5559 14.4635H23.5548C23.7939 14.4822 24.0317 14.4121 24.2224 14.2666C24.3678 14.1396 24.4494 13.9546 24.445 13.7616C24.4524 13.5606 24.371 13.3665 24.2224 13.2309Z" fill="#7D92C8"/>
                                    <path d="M31.7977 17.6051C31.648 17.4852 31.4582 17.4271 31.267 17.4424H28.391L31.0873 14.4294L31.3441 14.1469L31.5067 13.9501C31.5526 13.8867 31.59 13.8177 31.618 13.7446C31.6504 13.6658 31.6679 13.5817 31.6694 13.4964C31.6909 13.2966 31.5938 13.1026 31.4211 12.9999C31.1961 12.8966 30.9494 12.8495 30.7021 12.863H27.3124C27.1339 12.853 26.9575 12.9077 26.816 13.017C26.6976 13.1166 26.6314 13.2649 26.6362 13.4194C26.6362 13.6476 26.7133 13.7903 26.8673 13.8473C27.0901 13.9091 27.3212 13.9351 27.5521 13.9244H29.7434C29.6578 14.0528 29.538 14.1983 29.3839 14.378L28.819 15.0115L28.0828 15.8674L27.2268 16.8433C26.9187 17.1856 26.7161 17.4196 26.6191 17.5452C26.4174 17.8039 26.4433 18.173 26.679 18.4011C26.8587 18.5348 27.0807 18.5986 27.3039 18.5809H31.2756C31.4654 18.5961 31.6542 18.5413 31.8063 18.4268C31.9195 18.3242 31.982 18.1772 31.9775 18.0245C31.9815 17.8652 31.9159 17.7121 31.7977 17.6051Z" fill="#7D92C8"/>
                                    <path d="M40.777 12.7945C40.5908 12.6457 40.3555 12.5724 40.1179 12.589H36.4971L39.8782 8.81417L40.1949 8.46322L40.4003 8.21499C40.4568 8.1356 40.5028 8.04925 40.5373 7.95819C40.5761 7.86008 40.5963 7.75554 40.5972 7.65004C40.6211 7.40042 40.4974 7.15968 40.2805 7.03374C39.9992 6.9047 39.6907 6.84596 39.3817 6.86255H35.1361C34.9118 6.84725 34.6897 6.91423 34.5112 7.05086C34.3638 7.17637 34.2817 7.36233 34.2887 7.55589C34.2887 7.84692 34.3857 8.02378 34.5797 8.08659C34.8579 8.16566 35.1467 8.20033 35.4357 8.18931H38.1748C38.0606 8.34905 37.9123 8.53737 37.7297 8.75425L37.0192 9.55887L36.0948 10.586L34.9906 11.8101C34.6083 12.2381 34.3572 12.5234 34.2373 12.6661C33.9655 12.9961 33.9994 13.4812 34.3144 13.7703C34.5401 13.9404 34.82 14.0225 35.1018 14.0014H40.0922C40.3338 14.0318 40.578 13.9707 40.777 13.8302C40.9224 13.7032 41.0039 13.5182 40.9995 13.3252C41.0069 13.1241 40.9255 12.93 40.777 12.7945Z" fill="#7D92C8"/>
                                    <path d="M37.8238 27.2091C37.58 26.9567 37.2068 26.8786 36.8822 27.0122C27.6047 30.8528 16.9704 26.4454 13.1298 17.1678C11.1796 12.4566 11.2973 7.14292 13.4542 2.5228C13.6563 2.09545 13.4737 1.58519 13.0463 1.38307C12.827 1.27928 12.5738 1.27361 12.35 1.36723C2.17878 5.54535 -2.67963 17.1778 1.49849 27.3491C5.67661 37.5203 17.3091 42.3787 27.4804 38.2006C32.1194 36.2949 35.8683 32.709 37.978 28.1591C38.1264 27.8409 38.0653 27.4642 37.8238 27.2091ZM19.9254 37.9944C9.87014 37.9927 1.72019 29.8399 1.7219 19.7847C1.72297 13.1821 5.29859 7.09766 11.066 3.8838C10.3831 5.91096 10.0361 8.03613 10.0389 10.1752C10.0394 21.1759 18.9577 30.0933 29.9584 30.0928C31.802 30.0927 33.6367 29.8366 35.41 29.3319C32.0904 34.6994 26.2364 37.9743 19.9254 37.9944Z" fill="#7D92C8"/>
                                </svg>
                            </div>
                            <h4 class="temper-feat__slide-title">Lorem ipsum dolor</h4>
                            <p class="temper-feat__slide-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="swiper-slide temper-feat__slide">
                            <div class="temper-feat__slide-ico">
                                <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M24.2224 13.2309C24.0363 13.0822 23.801 13.0089 23.5633 13.0255H19.9682L23.3493 9.25062L23.6661 8.89967L23.8287 8.69423C23.8852 8.61484 23.9312 8.52849 23.9656 8.43744C24.0045 8.33932 24.0247 8.23479 24.0256 8.12929C24.0494 7.87967 23.9257 7.63892 23.7089 7.51299C23.4276 7.38395 23.1191 7.3251 22.8101 7.34179H18.6072C18.383 7.32649 18.1609 7.39347 17.9824 7.53011C17.8349 7.65561 17.7529 7.84158 17.7598 8.03513C17.7598 8.32616 17.8569 8.50303 18.0509 8.56584C18.3291 8.64491 18.6178 8.67957 18.9068 8.66855H21.646C21.5318 8.8283 21.3835 9.01661 21.2008 9.2335L20.499 10.021L19.5488 11.0482L18.4446 12.2722C18.0623 12.7002 17.8112 12.9856 17.6914 13.1282C17.4196 13.4583 17.4534 13.9433 17.7684 14.2324C17.9942 14.4025 18.2741 14.4846 18.5559 14.4635H23.5548C23.7939 14.4822 24.0317 14.4121 24.2224 14.2666C24.3678 14.1396 24.4494 13.9546 24.445 13.7616C24.4524 13.5606 24.371 13.3665 24.2224 13.2309Z" fill="#7D92C8"/>
                                    <path d="M31.7977 17.6051C31.648 17.4852 31.4582 17.4271 31.267 17.4424H28.391L31.0873 14.4294L31.3441 14.1469L31.5067 13.9501C31.5526 13.8867 31.59 13.8177 31.618 13.7446C31.6504 13.6658 31.6679 13.5817 31.6694 13.4964C31.6909 13.2966 31.5938 13.1026 31.4211 12.9999C31.1961 12.8966 30.9494 12.8495 30.7021 12.863H27.3124C27.1339 12.853 26.9575 12.9077 26.816 13.017C26.6976 13.1166 26.6314 13.2649 26.6362 13.4194C26.6362 13.6476 26.7133 13.7903 26.8673 13.8473C27.0901 13.9091 27.3212 13.9351 27.5521 13.9244H29.7434C29.6578 14.0528 29.538 14.1983 29.3839 14.378L28.819 15.0115L28.0828 15.8674L27.2268 16.8433C26.9187 17.1856 26.7161 17.4196 26.6191 17.5452C26.4174 17.8039 26.4433 18.173 26.679 18.4011C26.8587 18.5348 27.0807 18.5986 27.3039 18.5809H31.2756C31.4654 18.5961 31.6542 18.5413 31.8063 18.4268C31.9195 18.3242 31.982 18.1772 31.9775 18.0245C31.9815 17.8652 31.9159 17.7121 31.7977 17.6051Z" fill="#7D92C8"/>
                                    <path d="M40.777 12.7945C40.5908 12.6457 40.3555 12.5724 40.1179 12.589H36.4971L39.8782 8.81417L40.1949 8.46322L40.4003 8.21499C40.4568 8.1356 40.5028 8.04925 40.5373 7.95819C40.5761 7.86008 40.5963 7.75554 40.5972 7.65004C40.6211 7.40042 40.4974 7.15968 40.2805 7.03374C39.9992 6.9047 39.6907 6.84596 39.3817 6.86255H35.1361C34.9118 6.84725 34.6897 6.91423 34.5112 7.05086C34.3638 7.17637 34.2817 7.36233 34.2887 7.55589C34.2887 7.84692 34.3857 8.02378 34.5797 8.08659C34.8579 8.16566 35.1467 8.20033 35.4357 8.18931H38.1748C38.0606 8.34905 37.9123 8.53737 37.7297 8.75425L37.0192 9.55887L36.0948 10.586L34.9906 11.8101C34.6083 12.2381 34.3572 12.5234 34.2373 12.6661C33.9655 12.9961 33.9994 13.4812 34.3144 13.7703C34.5401 13.9404 34.82 14.0225 35.1018 14.0014H40.0922C40.3338 14.0318 40.578 13.9707 40.777 13.8302C40.9224 13.7032 41.0039 13.5182 40.9995 13.3252C41.0069 13.1241 40.9255 12.93 40.777 12.7945Z" fill="#7D92C8"/>
                                    <path d="M37.8238 27.2091C37.58 26.9567 37.2068 26.8786 36.8822 27.0122C27.6047 30.8528 16.9704 26.4454 13.1298 17.1678C11.1796 12.4566 11.2973 7.14292 13.4542 2.5228C13.6563 2.09545 13.4737 1.58519 13.0463 1.38307C12.827 1.27928 12.5738 1.27361 12.35 1.36723C2.17878 5.54535 -2.67963 17.1778 1.49849 27.3491C5.67661 37.5203 17.3091 42.3787 27.4804 38.2006C32.1194 36.2949 35.8683 32.709 37.978 28.1591C38.1264 27.8409 38.0653 27.4642 37.8238 27.2091ZM19.9254 37.9944C9.87014 37.9927 1.72019 29.8399 1.7219 19.7847C1.72297 13.1821 5.29859 7.09766 11.066 3.8838C10.3831 5.91096 10.0361 8.03613 10.0389 10.1752C10.0394 21.1759 18.9577 30.0933 29.9584 30.0928C31.802 30.0927 33.6367 29.8366 35.41 29.3319C32.0904 34.6994 26.2364 37.9743 19.9254 37.9944Z" fill="#7D92C8"/>
                                </svg>
                            </div>
                            <h4 class="temper-feat__slide-title">Lorem ipsum dolor</h4>
                            <p class="temper-feat__slide-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        
                        <div class="swiper-slide temper-feat__slide">
                            <div class="temper-feat__slide-ico">
                                <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M24.2224 13.2309C24.0363 13.0822 23.801 13.0089 23.5633 13.0255H19.9682L23.3493 9.25062L23.6661 8.89967L23.8287 8.69423C23.8852 8.61484 23.9312 8.52849 23.9656 8.43744C24.0045 8.33932 24.0247 8.23479 24.0256 8.12929C24.0494 7.87967 23.9257 7.63892 23.7089 7.51299C23.4276 7.38395 23.1191 7.3251 22.8101 7.34179H18.6072C18.383 7.32649 18.1609 7.39347 17.9824 7.53011C17.8349 7.65561 17.7529 7.84158 17.7598 8.03513C17.7598 8.32616 17.8569 8.50303 18.0509 8.56584C18.3291 8.64491 18.6178 8.67957 18.9068 8.66855H21.646C21.5318 8.8283 21.3835 9.01661 21.2008 9.2335L20.499 10.021L19.5488 11.0482L18.4446 12.2722C18.0623 12.7002 17.8112 12.9856 17.6914 13.1282C17.4196 13.4583 17.4534 13.9433 17.7684 14.2324C17.9942 14.4025 18.2741 14.4846 18.5559 14.4635H23.5548C23.7939 14.4822 24.0317 14.4121 24.2224 14.2666C24.3678 14.1396 24.4494 13.9546 24.445 13.7616C24.4524 13.5606 24.371 13.3665 24.2224 13.2309Z" fill="#7D92C8"/>
                                    <path d="M31.7977 17.6051C31.648 17.4852 31.4582 17.4271 31.267 17.4424H28.391L31.0873 14.4294L31.3441 14.1469L31.5067 13.9501C31.5526 13.8867 31.59 13.8177 31.618 13.7446C31.6504 13.6658 31.6679 13.5817 31.6694 13.4964C31.6909 13.2966 31.5938 13.1026 31.4211 12.9999C31.1961 12.8966 30.9494 12.8495 30.7021 12.863H27.3124C27.1339 12.853 26.9575 12.9077 26.816 13.017C26.6976 13.1166 26.6314 13.2649 26.6362 13.4194C26.6362 13.6476 26.7133 13.7903 26.8673 13.8473C27.0901 13.9091 27.3212 13.9351 27.5521 13.9244H29.7434C29.6578 14.0528 29.538 14.1983 29.3839 14.378L28.819 15.0115L28.0828 15.8674L27.2268 16.8433C26.9187 17.1856 26.7161 17.4196 26.6191 17.5452C26.4174 17.8039 26.4433 18.173 26.679 18.4011C26.8587 18.5348 27.0807 18.5986 27.3039 18.5809H31.2756C31.4654 18.5961 31.6542 18.5413 31.8063 18.4268C31.9195 18.3242 31.982 18.1772 31.9775 18.0245C31.9815 17.8652 31.9159 17.7121 31.7977 17.6051Z" fill="#7D92C8"/>
                                    <path d="M40.777 12.7945C40.5908 12.6457 40.3555 12.5724 40.1179 12.589H36.4971L39.8782 8.81417L40.1949 8.46322L40.4003 8.21499C40.4568 8.1356 40.5028 8.04925 40.5373 7.95819C40.5761 7.86008 40.5963 7.75554 40.5972 7.65004C40.6211 7.40042 40.4974 7.15968 40.2805 7.03374C39.9992 6.9047 39.6907 6.84596 39.3817 6.86255H35.1361C34.9118 6.84725 34.6897 6.91423 34.5112 7.05086C34.3638 7.17637 34.2817 7.36233 34.2887 7.55589C34.2887 7.84692 34.3857 8.02378 34.5797 8.08659C34.8579 8.16566 35.1467 8.20033 35.4357 8.18931H38.1748C38.0606 8.34905 37.9123 8.53737 37.7297 8.75425L37.0192 9.55887L36.0948 10.586L34.9906 11.8101C34.6083 12.2381 34.3572 12.5234 34.2373 12.6661C33.9655 12.9961 33.9994 13.4812 34.3144 13.7703C34.5401 13.9404 34.82 14.0225 35.1018 14.0014H40.0922C40.3338 14.0318 40.578 13.9707 40.777 13.8302C40.9224 13.7032 41.0039 13.5182 40.9995 13.3252C41.0069 13.1241 40.9255 12.93 40.777 12.7945Z" fill="#7D92C8"/>
                                    <path d="M37.8238 27.2091C37.58 26.9567 37.2068 26.8786 36.8822 27.0122C27.6047 30.8528 16.9704 26.4454 13.1298 17.1678C11.1796 12.4566 11.2973 7.14292 13.4542 2.5228C13.6563 2.09545 13.4737 1.58519 13.0463 1.38307C12.827 1.27928 12.5738 1.27361 12.35 1.36723C2.17878 5.54535 -2.67963 17.1778 1.49849 27.3491C5.67661 37.5203 17.3091 42.3787 27.4804 38.2006C32.1194 36.2949 35.8683 32.709 37.978 28.1591C38.1264 27.8409 38.0653 27.4642 37.8238 27.2091ZM19.9254 37.9944C9.87014 37.9927 1.72019 29.8399 1.7219 19.7847C1.72297 13.1821 5.29859 7.09766 11.066 3.8838C10.3831 5.91096 10.0361 8.03613 10.0389 10.1752C10.0394 21.1759 18.9577 30.0933 29.9584 30.0928C31.802 30.0927 33.6367 29.8366 35.41 29.3319C32.0904 34.6994 26.2364 37.9743 19.9254 37.9944Z" fill="#7D92C8"/>
                                </svg>
                            </div>
                            <h4 class="temper-feat__slide-title">Lorem ipsum dolor</h4>
                            <p class="temper-feat__slide-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        
                    </div>
                </div>                
            </div>
        </section>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const ListItems = document.querySelectorAll('.temper-feat__slider .temper-feat__slide');
                if (ListItems.length > 3 && window.innerWidth > 1024) {
                    const customInstagramSlider = new Swiper(".temper-feat__slider", {
                        breakpoints: {
                            320: {
                                slidesPerView: 'auto',
                                spaceBetween: 34,
                                loop: false,
                                freeMode: true
                            },
                            740: {
                                slidesPerView: 'auto',
                                spaceBetween: 50,
                                loop: true,
                                freeMode: true
                            },
                            1110: {
                                slidesPerView: 'auto',
                                spaceBetween: 122,
                                loop: false,
                                freeMode: true
                            }
                        }
                    });
                } else if(window.innerWidth < 1024) {
                    const customInstagramSlider = new Swiper(".temper-feat__slider", {
                        breakpoints: {
                            320: {
                                slidesPerView: 'auto',
                                spaceBetween: 34,
                                loop: false,
                                freeMode: true
                            },
                            740: {
                                slidesPerView: 'auto',
                                spaceBetween: 50,
                                loop: true,
                                freeMode: true
                            },
                            1110: {
                                slidesPerView: 'auto',
                                spaceBetween: 122,
                                loop: false,
                                freeMode: true
                            }
                        }
                    });
                } else {
                    const wrapper = document.querySelector('.temper-feat__slider .swiper-wrapper');
                    wrapper.style.justifyContent = "space-around";
                }

                document.querySelectorAll('.temper-marquee .marquee__block').forEach(item => {
                    item.classList.add('marquee-ani');
                })
            });
        
        </script>


        <section class="temper-testimonials">
            <div class="container">
                <h2 class="temper-testimonials__title">Testimonials</h2>

                <div class="temper-testimonials-slider swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide temper-testimonials-slide">
                            <div class="slide__img">
                                <img src="images/slide1.png" alt="">
                            </div>
                            <h4 class="slide__title">Gwen</h4>
                            <div class="slide__tags">
                                #Marketing Manager #Home Gardener <s>#Late Night Snacker</s>
                            </div>
                            <p class="slide__text">Raiding the pantry before bed or sneaking a late-night snack used to leave me feeling bloated in the morning. Now, I take two mints of Citravarin after dinner. I sleep the whole night through, wake up rested and ready for the day! Temper has been a great addition to my evening routine!</p>
                        </div>
                        <div class="swiper-slide temper-testimonials-slide">
                            <div class="slide__img">
                                <img src="images/slide1.png" alt="">
                            </div>
                            <h4 class="slide__title">Gwen</h4>
                            <div class="slide__tags">
                                #Marketing Manager #Home Gardener <s>#Late Night Snacker</s>
                            </div>
                            <p class="slide__text">Raiding the pantry before bed or sneaking a late-night snack used to leave me feeling bloated in the morning. Now, I take two mints of Citravarin after dinner. I sleep the whole night through, wake up rested and ready for the day! Temper has been a great addition to my evening routine!</p>
                        </div>
                        <div class="swiper-slide temper-testimonials-slide">
                            <div class="slide__img">
                                <img src="images/slide1.png" alt="">
                            </div>
                            <h4 class="slide__title">Gwen</h4>
                            <div class="slide__tags">
                                #Marketing Manager #Home Gardener <s>#Late Night Snacker</s>
                            </div>
                            <p class="slide__text">Raiding the pantry before bed or sneaking a late-night snack used to leave me feeling bloated in the morning. Now, I take two mints of Citravarin after dinner. I sleep the whole night through, wake up rested and ready for the day! Temper has been a great addition to my evening routine!</p>
                        </div>
                    </div>
                    <div class="swiper-controls noselect">
                        <div class="swiper-button-prev">
                            <svg class="btn--static" width="46" height="8" viewBox="0 0 46 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.99696 3.7701C0.801697 3.96537 0.801697 4.28195 0.99696 4.47721L4.17894 7.65919C4.3742 7.85445 4.69078 7.85445 4.88605 7.65919C5.08131 7.46393 5.08131 7.14735 4.88605 6.95208L2.05762 4.12366L4.88605 1.29523C5.08131 1.09997 5.08131 0.783386 4.88605 0.588123C4.69078 0.392861 4.3742 0.392861 4.17894 0.588123L0.99696 3.7701ZM46 3.62366L1.35051 3.62366V4.62366L46 4.62366V3.62366Z" fill="#6C88F7"/>
                            </svg>  
                            <svg class="btn--hovered" width="24" height="8" viewBox="0 0 24 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.646447 3.64645C0.451184 3.84171 0.451184 4.15829 0.646447 4.35356L3.82843 7.53554C4.02369 7.7308 4.34027 7.7308 4.53553 7.53554C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976312 4.7308 0.65973 4.53553 0.464468C4.34027 0.269206 4.02369 0.269206 3.82843 0.464468L0.646447 3.64645ZM24 3.5L1 3.5L1 4.5L24 4.5L24 3.5Z" fill="white"/>
                            </svg>
                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-next">
                            <svg class="btn--static" width="46" height="8" viewBox="0 0 46 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M45.003 3.7701C45.1983 3.96537 45.1983 4.28195 45.003 4.47721L41.8211 7.65919C41.6258 7.85445 41.3092 7.85445 41.114 7.65919C40.9187 7.46393 40.9187 7.14735 41.114 6.95208L43.9424 4.12366L41.114 1.29523C40.9187 1.09997 40.9187 0.783386 41.114 0.588123C41.3092 0.392861 41.6258 0.392861 41.8211 0.588123L45.003 3.7701ZM0 3.62366L44.6495 3.62366V4.62366L0 4.62366L0 3.62366Z" fill="#6C88F7"/>
                            </svg>
                            <svg class="btn--hovered" width="24" height="8" viewBox="0 0 24 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M23.3536 4.35356C23.5488 4.15829 23.5488 3.84171 23.3536 3.64645L20.1716 0.464468C19.9763 0.269206 19.6597 0.269206 19.4645 0.464468C19.2692 0.65973 19.2692 0.976312 19.4645 1.17157L22.2929 4L19.4645 6.82843C19.2692 7.02369 19.2692 7.34027 19.4645 7.53554C19.6597 7.7308 19.9763 7.7308 20.1716 7.53554L23.3536 4.35356ZM-4.37114e-08 4.5L23 4.5L23 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" fill="white"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const customInstagramSlider = new Swiper(".temper-testimonials-slider", {
                    breakpoints: {
                        320: {
                            slidesPerView: 'auto',
                            spaceBetween: 20,
                            loop: true,
                            freeMode: true
                        },
                        740: {
                            slidesPerView: 'auto',
                            spaceBetween: 50,
                            loop: true,
                            freeMode: true,
                            
                        },
                        1024: {
                            slidesPerView: 'auto',
                            spaceBetween: 35,
                            loop: true,
                            centeredSlides: true
                        },
                        1060: {
                            slidesPerView: 'auto',
                            spaceBetween: 60,
                            loop: true,
                            centeredSlides: true
                        },
                        1200: {
                            slidesPerView: 'auto',
                            spaceBetween: 20,
                            loop: true,
                            centeredSlides: true
                        },
                        1300: {
                            slidesPerView: 'auto',
                            spaceBetween: 40,
                            loop: true,
                            centeredSlides: true
                        }
                    },
                    pagination: {
                        el: ".swiper-pagination",
                        clickable: true,
                        type: 'fraction'
                    },
                    navigation: {
                        nextEl: ".swiper-button-next",
                        prevEl: ".swiper-button-prev",
                    }
                });
                document.querySelectorAll('.temper-marquee .marquee__block').forEach(item => {
                    item.classList.add('marquee-ani');
                })
            });

        </script>




        <!--{%- comment -%}
        {% assign img = section.settings.img %}        

        {% assign title = section.settings.title %}
        {% assign descr = section.settings.descr %}

        {% assign btn_text = section.settings.btn_text %}
        {% assign btn_url  = section.settings.btn_url %}

        <section class="temper-learn">
            <div class="container">
                <div class="temper-learn__img">
                    <img src="{{ img | img_url: 'master' }}" alt="{{ img.alt }}">
                </div>
                <div class="temper-learn__content">
                    <div class="content--overlay">
                        <h3 class="temper-learn__title">{{ title }}</h3>
                        <p class="temper-learn__descr">{{ descr }}</p>
                        <a href="{{ btn_url }}" class="temper-learn__btn btn-new">{{ btn_text }}</a>
                    </div>
                </div>
            </div>
        </section>

        {% schema %}
        {
            "name": "Temper learn more",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "img",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section title"
                },
                {
                    "type": "textarea",
                    "id": "descr",
                    "label": "Section text"
                },
                {
                    "type": "text",
                    "id": "btn_text",
                    "label": "Button text"
                },
                {
                    "type": "url",
                    "id": "btn_url",
                    "label": "Button url"
                }
            ]
        }
        {% endschema %} 
        {%- endcomment -%}-->

        <section class="temper-learn">
            <div class="container">
                <div class="temper-learn__img">
                    <img src="images/temper-learn.png" alt="">
                </div>
                <div class="temper-learn__content">
                    <div class="content--overlay">
                        <h3 class="temper-learn__title">Lorem ipsum dolor sit amet, consectetur !</h3>
                        <p class="temper-learn__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At in tellus integer feugiat scelerisque varius. Maecenas volutpat blandit aliquam etiam erat velit.</p>
                        <a href="#" class="temper-learn__btn btn-new">Lorem ipsum dolor</a>
                    </div>
                </div>
            </div>
        </section>

        <!--{%- comment -%}

            {% assign ico1  = section.settings.ico1 %}
            {% assign ico2  = section.settings.ico2 %}
            {% assign text1 = section.settings.text1 %}
            {% assign text2 = section.settings.text2 %}

            <div class="temper-marquee">
            <div class="inner-wrapper">
                {% for item in (i..4) %}
                <div class="marquee__block">
                    <div class="marquee__img">
                        <img src="{{ ico1 | img_url: 'master' }}" alt="{{ ico1.alt }}">
                    </div>
                    <p class="marquee__text">{{ text1 }}</p>
                    
                    <div class="marquee__img">
                        <img src="{{ ico2 | img_url: 'master' }}" alt="{{ ico2.alt }}">
                    </div>
                    <p class="marquee__text">{{ text2 }}</p>
                </div>
                {% endfor %}
            </div>
        </div>

                {% schema %}
        {
            "name": "Temper marquee",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "ico1",
                    "label": "Ico 1"
                },
                {
                    "type": "textarea",
                    "id": "text1",
                    "label": "Text 1",
                },
                {
                    "type": "image_picker",
                    "id": "ico2",
                    "label": "Ico 2"
                },
                {
                    "type": "textarea",
                    "id": "text2",
                    "label": "Text 2",
                }
            ]
        }
        {% endschema %}
        {%- endcomment -%}-->

        <div class="temper-marquee">
            <div class="inner-wrapper">
                <div class="marquee__block">
                    <div class="marquee__img">
                        <img src="images/wave_orange.png" alt="">
                    </div>
                    <p class="marquee__text">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                </div>
                <div class="marquee__block">
                    <div class="marquee__img">
                        <img src="images/wave_orange.png" alt="">
                    </div>
                    <p class="marquee__text">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                </div>
                <div class="marquee__block">
                    <div class="marquee__img">
                        <img src="images/wave_orange.png" alt="">
                    </div>
                    <p class="marquee__text">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                </div>
                <div class="marquee__block">
                    <div class="marquee__img">
                        <img src="images/wave_orange.png" alt="">
                    </div>
                    <p class="marquee__text">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                </div>
                <div class="marquee__block">
                    <div class="marquee__img">
                        <img src="images/wave_orange.png" alt="">
                    </div>
                    <p class="marquee__text">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                </div>
            </div>
        </div>



    </main>
    
    <footer class="footer">
    </footer>

</body>
</html>