@font-face {
  font-family: "Clear Sans";
  src: url("../fonts/ClearSans.ttf"); }
@font-face {
  font-family: "Clear Sans Thin";
  src: url("../fonts/ClearSans-Thin.ttf"); }
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Clear Sans", sans-serif;
  color: #3A4047; }

h1 {
  font-size: 36px;
  line-height: 42px;
  font-family: "Clear Sans Thin"; }

h2 {
  font-size: 24px;
  line-height: 28px;
  font-family: "Clear Sans Thin";
  font-weight: lighter; }

h3 {
  font-size: 16px;
  line-height: 19px;
  font-family: "Clear Sans Thin"; }

p {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5em; }

ul {
  list-style: none; }
  ul li > a {
    text-decoration: none; }

a {
  text-decoration: underline; }
  a:hover {
    color: #1AB0CE; }

.wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap; }

/*------------------------- header ---------------------------- */
.header-wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-bottom: 47px; }

header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 1170px;
  align-items: center;
  min-height: 106px;
  flex-wrap: wrap; }
  header h3 {
    text-align: center;
    max-width: 350px;
    padding-bottom: 10px;
    font-weight: lighter; }
  header p {
    font-weight: bold;
    text-align: center; }

.over-cont {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center; }

.pre-cont {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  position: relative; }

.shop-cart {
  padding: 0 20px; }

.cab-info {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-end; }
  .cab-info a {
    font-size: 14px;
    padding: 10px 0; }
  .cab-info a > img {
    vertical-align: middle;
    padding-right: 5px; }
  .cab-info .user-in {
    padding-right: 50px; }

.tel {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }
  .tel h3 {
    font-family: Clear Sans;
    font-weight: bold;
    padding-top: 5px; }
  .tel a {
    padding-bottom: 3px; }
  .tel h3 > a {
    padding-right: 15px;
    vertical-align: middle; }
  .tel h3 > img {
    vertical-align: middle;
    padding-right: 10px; }
  .tel p > img {
    vertical-align: middle; }

.tel-a {
  padding: 0 5px 0 0 !important;
  font-weight: bold !important; }

.all-contacts, .cont-footer {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  position: relative;
  vertical-align: middle;
  cursor: pointer; }
  .all-contacts::before, .cont-footer::before {
    content: "";
    position: absolute;
    top: 35%;
    left: 55%;
    width: 2px;
    border-radius: 2px;
    height: 7px;
    background: #3A4047;
    transform: rotate(45deg); }
  .all-contacts::after, .cont-footer::after {
    content: "";
    position: absolute;
    top: 35%;
    left: 35%;
    width: 2px;
    border-radius: 2px;
    height: 7px;
    background: #3A4047;
    transform: rotate(-45deg); }

.pressed::before, .pressed-footer::before {
  content: "";
  position: absolute;
  top: 35%;
  left: 55%;
  width: 2px;
  border-radius: 2px;
  height: 7px;
  background: #3A4047;
  transform: rotate(145deg); }
.pressed::after, .pressed-footer::after {
  content: "";
  position: absolute;
  top: 35%;
  left: 35%;
  width: 2px;
  border-radius: 2px;
  height: 7px;
  background: #3A4047;
  transform: rotate(-145deg); }

.cont-footer {
  background: #fff; }

.popup, .popup-footer {
  position: absolute;
  top: 91px;
  left: 112px;
  z-index: 5000;
  visibility: hidden;
  width: 220px;
  height: 167px;
  background: #fff;
  box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.15); }
  .popup h3, .popup-footer h3 {
    padding-top: 10px; }
  .popup h3:first-child, .popup-footer h3:first-child {
    padding-top: 25px; }
  .popup h3 > img, .popup-footer h3 > img {
    vertical-align: middle; }
  .popup:before, .popup-footer:before {
    content: "";
    position: absolute;
    top: -5px;
    left: 185px;
    width: 28px;
    height: 28px;
    background: #fff;
    transform: rotate(45deg); }

.inputFinder {
  position: absolute;
  top: 12px;
  left: 885px;
  width: 250px;
  border-radius: 10px;
  border: 1px solid #1AB0CE;
  visibility: hidden;
  text-indent: 1em; }

.inputShow {
  visibility: visible; }

.popup-footer {
  top: -167px;
  left: 958px; }
  .popup-footer h3 {
    padding: 20px 0 0 30px; }
  .popup-footer:before {
    content: "";
    position: absolute;
    top: 145px;
    left: 187px;
    width: 28px;
    height: 28px;
    background: #fff;
    transform: rotate(45deg); }

.popup-in, .popup-footer-in {
  visibility: visible; }

.tel a, .tel-footer a, .popup a, .popup-in a, .popup-footer-in a {
  text-decoration: none;
  padding-left: 10px;
  font-weight: normal; }

/*------------------------- menu ---------------------------- */
nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  top: 106px;
  width: 100%;
  z-index: 50;
  box-shadow: 0px -4px 4px -2px rgba(0, 0, 0, 0.05);
  background: white;
  cursor: pointer; }

.menu-overl {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  min-height: 47px;
  min-width: 1170px;
  text-transform: uppercase;
  position: relative; }
  .menu-overl a {
    padding-right: 36px;
    padding-left: 38px;
    border-right: 1px solid #E8EDF2; }
  .menu-overl .last-child {
    border: none; }
    .menu-overl .last-child:hover {
      border: none; }
  .menu-overl li {
    border-top: 1px solid transparent;
    padding-top: 12px; }
    .menu-overl li:hover {
      border-top: 1px solid #1AB0CE; }
      .menu-overl li:hover a {
        color: #1AB0CE; }

main {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px; }

.promo-photo {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../img/Rectangle.png") no-repeat;
  background-size: cover;
  min-height: 500px; }
  .promo-photo h1 {
    color: #fff;
    font-size: 57px;
    line-height: 67px;
    text-align: center; }
  .promo-photo h2 {
    color: #fff;
    padding: 15px 0 30px 0; }
  .promo-photo span::before {
    display: inline-block;
    content: "";
    background-color: #fff;
    height: 1px;
    width: 120px;
    vertical-align: middle;
    margin: 25px 0; }
  .promo-photo button {
    background: #1AB0CE;
    border: none;
    border-right: 2px;
    width: 200px;
    height: 48px;
    font-size: 16px;
    color: #fff;
    cursor: pointer; }
    .promo-photo button:hover {
      background: #490066; }

/*------------------------- main ---------------------------- */
.productions {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 0 0; }
  .productions h1 {
    padding: 30px 0 40px 0; }

.article {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 1170px; }

section {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 370px;
  flex-direction: row;
  align-items: flex-start;
  padding: 30px;
  border: 1px solid #DCE1E6;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05); }
  section img {
    padding-right: 24px; }

.sect-overl {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column; }
  .sect-overl h3 {
    text-transform: uppercase; }
  .sect-overl ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 280px; }
  .sect-overl li {
    padding: 25px 30px 0 0; }

.about-us {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 1170px;
  padding: 30px 0 45px 0; }
  .about-us h1 {
    padding: 30px 0; }
  .about-us h2 {
    padding-bottom: 35px;
    font-weight: bold; }
  .about-us h1, .about-us h2 {
    text-align: center; }

.news {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-top: 1px solid #E8EDF2; }
  .news h1 {
    text-align: center;
    padding: 30px 0; }
  .news .article {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    max-width: 1170px;
    align-self: center; }
    .news .article section {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background: #FFFFFF;
      border: none;
      box-shadow: none; }
      .news .article section p {
        color: #BEC7D1;
        padding-bottom: 14px; }
      .news .article section:hover {
        box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.05), 0px -1px 0px #1AB0CE; }
        .news .article section:hover h3 {
          color: #1AB0CE;
          text-decoration: underline;
          cursor: pointer; }

.news-button {
  width: 190px;
  height: 32px;
  color: #1AB0CE;
  margin-top: 50px;
  background: transparent;
  border: 1px solid #1AB0CE;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer; }
  .news-button:hover {
    background: #1AB0CE;
    color: #fff; }

/*------------------------- footer ---------------------------- */
footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  background: #F7F7F7;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.footer-overlay {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  min-width: 1170px;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  justify-content: space-between;
  min-height: 159px;
  align-items: center;
  position: relative; }

.menu-footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 159px;
  min-width: 300px; }
  .menu-footer li {
    padding: 13px 60px 10px 0;
    text-decoration: underline; }

.foot-logo {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 110px;
  justify-content: space-between; }

.foot-info {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  max-width: 260px;
  min-height: 110px;
  justify-content: space-between; }
  .foot-info p:first-child {
    padding-top: 10px; }

.cont-footer {
  background: #fff;
  margin-left: 5px; }

.tel-footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  min-height: 139px;
  justify-content: space-around;
  align-items: flex-end; }
  .tel-footer a {
    padding-bottom: 3px; }
  .tel-footer h3 > a {
    padding-right: 15px;
    vertical-align: middle; }
  .tel-footer h3 > img {
    vertical-align: middle;
    padding-right: 10px; }
  .tel-footer p > img {
    vertical-align: middle; }

.call-us {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1; }

.call-us-button {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  background: #1AB0CE;
  text-align: center;
  cursor: pointer;
  color: #fff;
  font-size: 0.7em; }

.sm-menu {
  display: none; }

.small-header {
  display: none; }

.nav-toggle {
  display: none;
  position: relative;
  float: right;
  width: 45px;
  height: 45px;
  background: #1ab0ce;
  box-shadow: 0px 2px 8px rgba(200, 220, 220, 0.4);
  cursor: pointer; }

.nav-toggle span {
  display: block;
  position: absolute;
  top: 22px;
  left: 8px;
  right: 8px;
  height: 3px;
  background: white; }

.nav-toggle span:before, .nav-toggle span:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background: white; }

.nav-toggle span:before {
  top: -10px; }

.nav-toggle span:after {
  bottom: -10px; }

/* ADAPTIVE */
@media screen and (max-width: 1188px) {
  main, .wrap {
    width: 100vw; }

  .sm-menu {
    display: none; }

  .header-wrap, nav {
    display: none; }

  .small-header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    position: fixed;
    width: 100vw;
    z-index: 50;
    top: 0;
    flex-direction: column;
    margin: 0;
    box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.15); }
    .small-header .tel {
      padding: 5px 20px 0 0; }

  .cab-info {
    align-items: center;
    justify-content: center; }
    .cab-info a {
      padding-left: 5px; }

  .toggle-menu {
    padding: 10px 15px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    background: #fff;
    justify-content: space-around;
    align-items: center; }

  .nav-toggle {
    display: flex; }

  .small-menu-overl {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    display: none;
    align-items: center;
    background: #fff;
    padding: 15px 0;
    cursor: pointer;
    position: relative;
    box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.15); }
    .small-menu-overl.active-menu {
      display: flex;
      position: absolute;
      left: 0;
      top: 100px;
      border: none;
      width: 100vw;
      align-items: center;
      border: none;
      justify-content: center;
      flex-direction: row; }
    .small-menu-overl li {
      padding: 2px 10px;
      text-align: center; }

  .promo-photo {
    min-height: 700px; }
    .promo-photo button {
      margin-top: 40px; }

  .about-us {
    width: 90%; }

  .productions .article {
    min-width: auto;
    justify-content: center; }
    .productions .article section {
      margin-bottom: 30px;
      width: 90%; }

  .pre-info {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 65%; }
    .pre-info p {
      font-weight: bold;
      padding-top: 5px; }
    .pre-info .popup, .pre-info .popup-in {
      top: 118px;
      left: 297px; }
      .pre-info .popup h3, .pre-info .popup-in h3 {
        padding: 23px 0 0 0; }

  .maket-site {
    display: none; }

  .cab-info .user-in {
    padding: 7px 0 0 0; }

  .sect-overl ul {
    flex-direction: row; }

  footer {
    max-height: none; }

  .footer-overlay {
    justify-content: space-around;
    padding-top: 30px;
    min-width: 100vw;
    text-align: center; }
    .footer-overlay .menu-footer {
      display: none; }
    .footer-overlay .popup-footer, .footer-overlay .popup-footer-in {
      left: 313px;
      top: 116px; }
    .footer-overlay .foot-logo p {
      text-align: center; }

  .news .article {
    justify-content: space-around;
    max-width: none;
    min-width: auto; }
  .news section {
    width: 44%; }

  .foot-info {
    max-width: none;
    min-width: 100vw; }

  .tel-footer {
    align-items: center; } }
@media screen and (max-width: 1024px) {
  .footer-overlay .popup-footer, .footer-overlay .popup-footer-in {
    left: 414px;
    top: 76px; }

  .pre-info .popup, .pre-info .popup-in {
    left: 439px;
    top: 108px; } }
@media screen and (max-width: 768px) {
  .small-menu-overl.active-menu {
    top: 100px; }

  .small-header .tel {
    display: none; }

  .sm-menu {
    display: none; }

  .cab-info a {
    font-size: 18px; }

  .pre-info {
    justify-content: center; }
    .pre-info h3 {
      display: none; }

  .news .article section {
    padding-bottom: 45px; }

  .productions .article {
    min-height: 625px;
    justify-content: center; }
  .productions section {
    width: 80%;
    align-self: center;
    max-height: none;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05); }
    .productions section img {
      padding: 10px 24px 0 0; }

  .sect-overl ul {
    flex-direction: row; }

  .productions p, .productions h3, .about-us p, .about-us h3, .news p, .news h3, .footer-overlay p, .footer-overlay h3 {
    font-size: 23px;
    line-height: 2.5em; }
  .productions li, .about-us li, .news li, .footer-overlay li {
    font-size: 20px; }

  .news button {
    width: 400px;
    height: 60px;
    font-size: 23px; }

  .foot-info p {
    font-size: 18px;
    line-height: 1.5em; }

  .popup-footer h3 {
    font-size: 16px;
    padding: 0px 10px 5px 0; }

  .toggle {
    font-size: 20px; }

  .promo-photo button {
    width: 300px;
    height: 60px;
    font-size: 24px; }

  .footer-overlay .popup-footer, .footer-overlay .popup-footer-in {
    left: 313px;
    top: 116px; } }
@media screen and (max-width: 630px) {
  .small-menu-overl.active-menu {
    top: 101px;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.15); }
    .small-menu-overl.active-menu li {
      font-size: 1.2em;
      width: 100vw;
      padding: 5px 0px;
      box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15); }
      .small-menu-overl.active-menu li a {
        font-family: "Clear Sans Thin"; }

  .user-in, .sm-menu {
    display: block; } }
@media screen and (max-width: 535px) {
  .pre-info {
    display: none; }

  .news section {
    width: 90%; }

  .popup-footer, .popup-footer-in {
    display: none; } }
@media screen and (max-width: 425px) {
  h1 {
    font-size: 3.2em; }

  h2 {
    font-size: 2em; }

  .small-header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100vw;
    justify-content: center; }

  .nav-toggle {
    display: block; }

  .article {
    min-width: auto; }

  .toggle-menu img {
    width: 80%; }

  main, footer {
    width: 100vw; }

  .pre-info {
    display: none; }

  .toggle {
    font-size: 40px; }

  .sm-menu {
    display: flex;
    justify-content: center; }

  .small-menu-overl.active-menu {
    top: 86px;
    padding: 0;
    overflow: hidden;
    box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.15); }
    .small-menu-overl.active-menu img {
      width: 30px;
      padding-right: 4px; }
    .small-menu-overl.active-menu li {
      font-size: 1.2em;
      width: 100vw;
      padding: 5px 0px;
      box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15); }
      .small-menu-overl.active-menu li a {
        font-family: "Clear Sans Thin"; }

  .promo-photo {
    min-height: 740px; }
    .promo-photo h1 {
      font-size: 2.7em;
      padding: 0 30px;
      line-height: 1em;
      text-align: center; }
    .promo-photo h2 {
      font-size: 2em;
      padding-bottom: 80px;
      text-align: center;
      line-height: 1em; }
    .promo-photo button {
      width: 300px;
      height: 60px;
      font-size: 2em; }

  .call-us {
    bottom: 20px;
    right: 20px; }

  .productions li, .about-us li, .news li, .footer-overlay li {
    font-size: 1.5em; }

  .productions .article {
    min-height: 625px;
    justify-content: center; }
  .productions section {
    width: 80%;
    align-self: center;
    margin: 30px 0;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05); }
    .productions section img {
      padding: 10px 24px 0 0; }
    .productions section h3, .productions section p {
      font-size: 1.7em;
      line-height: 1.5em; }

  .about-us {
    max-width: none;
    padding: 0;
    width: 90vw; }
    .about-us h2 {
      line-height: normal; }
    .about-us p {
      text-align: justify;
      line-height: 1.5em; }

  .news {
    margin-top: 35px;
    padding-top: 30px; }
    .news .article {
      min-height: 625px;
      justify-content: center; }
    .news section {
      width: 90%;
      align-self: center;
      margin: 30px 0;
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05); }
      .news section h3, .news section p {
        line-height: 1.7em; }
      .news section h3 {
        font-size: 1.5em; }
    .news button {
      width: 65%;
      height: 80px;
      font-size: 1.5em; }

  .sect-overl ul {
    flex-direction: row;
    max-height: none; }

  .call-us button {
    width: 80px;
    height: 80px;
    font-size: 10px; }

  footer {
    padding-top: 40px;
    max-height: 720px; }
    footer .footer-overlay .foot-info {
      width: 80%;
      align-self: center;
      margin: 30px 0;
      align-items: center;
      justify-content: center;
      max-width: none; }
    footer .footer-overlay .foot-logo {
      width: auto; }
    footer .footer-overlay p {
      font-size: 1.5em; }
    footer .footer-overlay .cont-footer, footer .footer-overlay .popup-footer, footer .footer-overlay .last-child {
      display: none; }
    footer .footer-overlay .tel-footer {
      align-items: center; }
      footer .footer-overlay .tel-footer h3 {
        font-size: 1.5em; } }
@media screen and (max-width: 320px) {
  h1 {
    font-size: 2.5em; }

  h2 {
    font-size: 2em; }

  .about-us p {
    font-size: 1em; }

  .productions section h3, .news section h3 {
    font-size: 1.3em; }
  .productions section li, .news section li {
    font-size: 1em; }

  .promo-photo h1 {
    font-size: 2.4em; }
  .promo-photo button {
    width: 250px;
    font-size: 1.5em; }

  footer .footer-overlay p {
    font-size: 1em; } }

/*# sourceMappingURL=style.css.map */
